body {
    background: rgb(204,204,204);
    font-weight: 500;
}

.size-a4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
    body, .size-a4 {
        margin: 0;
        box-shadow: 0;
    }
}

.header {
    height: 1.7cm;
    padding: 16px;
}

.general-info {
    height: 4cm;
}

.main-content {
    height: 24cm;
}

.name {
    font-size: 26px;
}

.photo-wrapper {
    margin-top: 20px;
}